$primary: #0B5351;
$info: #00A9A5;
$navbar-light-hover-color: #F8F9FA;
$navbar-dark-hover-color: #F8F9FA;

$navbar-light-active-color: #F8F9FA;
$navbar-dark-active-color: #F8F9FA;

$navbar-light-toggler-border-color:#F8F9FA;
$navbar-dark-toggler-border-color:#F8F9FA;

$navbar-light-icon-color: #F8F9FA;
$navbar-dark-icon-color: #F8F9FA;


@import 'bootstrap/scss/bootstrap';